{:paths ["src"
         "resources"]
 :deps {}
 :tasks {:init ()
         :requires ([tasks.nrepl :as nrepl]
                    [tasks.update-items :as update-items])
         :enter {}
         nrepl  (nrepl/nrepl)
         update (update-items/update-items :macos)}}
