[user]
	email = anthony@caumond.com
	name = caumond
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictstyle = diff3
[core]
	editor = emacs
[init]
	defaultBranch = main
